[Unit]
Description=Appium Server
After=network.target

[Service]
Type=simple
User=root

ExecStart=/usr/bin/appium -p 6019

WorkingDirectory=/tmp
Environment="ANDROID_HOME=/usr/lib/android-sdk"
Environment="PATH=/usr/bin:/usr/local/bin:$ANDROID_HOME/platform-tools:$ANDROID_HOME/cmdline-tools/latest/bin:$PATH"

StandardOutput=file:/var/log/appium-6019.log
StandardError=file:/var/log/appium_err-6019.log

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target