[Unit]
Description=Appium Server
After=network.target

[Service]
Type=simple
User=root

ExecStart=/usr/bin/appium -p {PORT}

WorkingDirectory=/tmp
Environment="ANDROID_HOME=/usr/lib/android-sdk"
Environment="PATH=/usr/bin:/usr/local/bin:$ANDROID_HOME/platform-tools:$ANDROID_HOME/cmdline-tools/latest/bin:$PATH"

StandardOutput=file:/var/log/appium-{PORT}.log
StandardError=file:/var/log/appium_err-{PORT}.log

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target